# Q.1 How to Remove Time from TimeStamp column in Pandas DataFrame?

In [1]:
#Step 1: Import library
import pandas as pd

In [2]:
#Basically to remove a time from a column we shall first have the column with us, so lets create and example

df=pd.DataFrame({"Time_Stamp":['2020-04-16 8:30:00','2020-07-02 12:37:24','2021-05-11 18:00:21']})
df

            Time_Stamp
0   2020-04-16 8:30:00
1  2020-07-02 12:37:24
2  2021-05-11 18:00:21

In [3]:
#check datatype

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time_Stamp  3 non-null      object
dtypes: object(1)
memory usage: 152.0+ bytes

In [4]:
#As we saw the datatype is object and we need to convert timestamp into datetime format 

df["Time_Stamp"]=pd.to_datetime(df["Time_Stamp"])
df

           Time_Stamp
0 2020-04-16 08:30:00
1 2020-07-02 12:37:24
2 2021-05-11 18:00:21

In [5]:
#Check if its done 

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Time_Stamp  3 non-null      datetime64[ns]
dtypes: datetime64[ns](1)
memory usage: 152.0 bytes

In [6]:
#We only need the date part

df=df["Time_Stamp"].dt.date 
df

0    2020-04-16
1    2020-07-02
2    2021-05-11
Name: Time_Stamp, dtype: object

In [7]:
#Similarly if in case we only need the time part 

#df["Time_Stamp"].dt.time

### ----------------------------------------------------Question 1 Ends -------------------------------------------------------