# How to detect Numeric Values in Object Columns

In [1]:
# Importing Library

import pandas as pd
import numpy as np

In [2]:
#firstly we need to create an DataFrame where there are numeric and non-numeric values


df=pd.DataFrame({"col1":["0.21","12","Not detected","0.12%",np.nan]})
df

           col1
0          0.21
1            12
2  Not detected
3         0.12%
4           NaN

In [9]:
# Check the type of df  

df.dtypes

col1    object
dtype: object

In [10]:
#convert it to numeric type


df["New"]=pd.to_numeric(df["col1"],errors='coerce') #------------> important step 

# What does error = "coerce" means ?

# IF error = ‘coerce’,then invalid parsing will be set as NaN

# In this example everything except numeric values will be NaN

In [11]:
# Lets check if done or not 

df

           col1    New
0          0.21   0.21
1            12  12.00
2  Not detected    NaN
3         0.12%    NaN
4           NaN    NaN

In [12]:
# It's done! 
# now let's have only the new column in our df

numeric = df.select_dtypes(include='number')
numeric

     New
0   0.21
1  12.00
2    NaN
3    NaN
4    NaN

### ----------------------------------------------------Question 10 Ends -------------------------------------------------------