# How to impute NaN with different columns

In [1]:
# Importing Library

import pandas as pd
import numpy as np

In [2]:
# Create an example DataFrame

df= pd.DataFrame({"Topic1":['Linear Reg','K-Means',np.nan,'Neural Net','SVM',np.nan],
                 "Topic2":['OLS','Elbow-point','Confusion Matrix','Deep Learning','KErnel','KNN']})
df

       Topic1            Topic2
0  Linear Reg               OLS
1     K-Means       Elbow-point
2         NaN  Confusion Matrix
3  Neural Net     Deep Learning
4         SVM            KErnel
5         NaN               KNN

 -----> Here we need to Fill NaN value with the value just right in front of it                                        
 
------> This sum can be done in Two methods

# Method 1: Using loc

In [3]:
df.loc[2,"Topic1"]="Confusion Matrix"
df.loc[5,"Topic1"]="KNN"
df

             Topic1            Topic2
0        Linear Reg               OLS
1           K-Means       Elbow-point
2  Confusion Matrix  Confusion Matrix
3        Neural Net     Deep Learning
4               SVM            KErnel
5               KNN               KNN

### Conclusion from Method 1 : Here there were only two values so we could code it. What if there are many? So we can conclude that even though it does the work it can't be the optimum method. So what will be the optimum method? Check for Method 2

# Method 2: Using fillna !

In [4]:
df["Topic1"].fillna(df["Topic2"],inplace=True)
df

             Topic1            Topic2
0        Linear Reg               OLS
1           K-Means       Elbow-point
2  Confusion Matrix  Confusion Matrix
3        Neural Net     Deep Learning
4               SVM            KErnel
5               KNN               KNN

### ----------------------------------------------------Question 11 Ends -------------------------------------------------------