# HOW TO MULTI INDEX YOUR COLUMNS IN DATAFRAME

In [1]:
import pandas as pd
import numpy as np

In [2]:
#Creating a dataframe
orig_df = pd.DataFrame([[1,2],[3,4]],columns=['sub column 1','sub column 2'])
orig_df

   sub column 1  sub column 2
0             1             2
1             3             4

In [3]:
#using the multi-index function

def add_top_column(df,top_col):
    df.columns=pd.MultiIndex.from_product([[top_col],df.columns])
    return df

In [4]:
#Storing it in a new df
new_df = add_top_column(orig_df,"Main Header")
new_df

   Main Header
  sub column 1 sub column 2
0            1            2
1            3            4

## ----------------------------------------------------Question 15 Ends -------------------------------------------------------