# Find Average for each Rows in Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
#creating a dataframe 
df=pd.DataFrame({"A":[20,70,15],
                "B":[50,10,45]})
df

    A   B
0  20  50
1  70  10
2  15  45

In [3]:
#to find mean accross row just do axis=1
#similarly mean accross columns would be axis=0
df.mean(axis=1)

0    35.0
1    40.0
2    30.0
dtype: float64

In [4]:
#this step is to basically create a new column "Average" and store in the existing dataframe
df["Average"]=df.mean(axis=1)
df

    A   B  Average
0  20  50     35.0
1  70  10     40.0
2  15  45     30.0

## ----------------------------------------------------Question 16 Ends -------------------------------------------------------