# How to find Cumulative sum for Pandas Dataframe

In [1]:
import pandas as pd

In [2]:
#create data frame 
df=pd.DataFrame({"":["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-05","2020-03-06","2020-03-07"],
    "PageViews":[100,120,180,200,240,160,130],
    "Ad Revenue":[10,15,12,20,30,22,14]})
df

               PageViews  Ad Revenue
0  2020-03-01        100          10
1  2020-03-02        120          15
2  2020-03-03        180          12
3  2020-03-04        200          20
4  2020-03-05        240          30
5  2020-03-06        160          22
6  2020-03-07        130          14

In [3]:
#for cumulative sum just select which column you want to do the cumulative average an then ".cumsum()"
df['Ad Revenue'].cumsum()

0     10
1     25
2     37
3     57
4     87
5    109
6    123
Name: Ad Revenue, dtype: int64

In [4]:
#Creating a new column and storing and adding it in same df
df['Cumulative Ad Revenue'] =df['Ad Revenue'].cumsum()
df

               PageViews  Ad Revenue  Cumulative Ad Revenue
0  2020-03-01        100          10                     10
1  2020-03-02        120          15                     25
2  2020-03-03        180          12                     37
3  2020-03-04        200          20                     57
4  2020-03-05        240          30                     87
5  2020-03-06        160          22                    109
6  2020-03-07        130          14                    123

## ----------------------------------------------------Question 17 Ends -------------------------------------------------------