# Finding Day From Date in Pandas

In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({'Date':['10-04-2022','11-04-2022','12-04-2022','13-04-2022','14-04-2022','15-04-2022']})
df

         Date
0  10-04-2022
1  11-04-2022
2  12-04-2022
3  13-04-2022
4  14-04-2022
5  15-04-2022

In [3]:
df.dtypes

Date    object
dtype: object

In [4]:
#Here the dtype is "object" we need to convert in datetime

df['Date']=pd.to_datetime(df['Date'])

In [5]:
#obtaining the daypart from date and creating new day columns for storing it in df

df['Day']=df['Date'].dt.day_name()
df

        Date        Day
0 2022-10-04    Tuesday
1 2022-11-04     Friday
2 2022-12-04     Sunday
3 2022-04-13  Wednesday
4 2022-04-14   Thursday
5 2022-04-15     Friday

## ----------------------------------------------------Question 26 Ends -------------------------------------------------------