# Forward "ffill" and Backward "bfill" in Python

In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame({'A':[1,2,3,4,1,2],
                  'B':[10,20,30,40,10,20],
                  'C':[10,np.nan,40,np.nan,np.nan,50]
                  })
df

   A   B     C
0  1  10  10.0
1  2  20   NaN
2  3  30  40.0
3  4  40   NaN
4  1  10   NaN
5  2  20  50.0

In [3]:
#Applying Forward fill and displaying the output

df['C'].replace(to_replace=np.nan, method='ffill')

0    10.0
1    10.0
2    40.0
3    40.0
4    40.0
5    50.0
Name: C, dtype: float64

In [4]:
#Applying Backward fill and displaying the output

df['C'].replace(to_replace=np.nan, method='bfill')

0    10.0
1    40.0
2    40.0
3    50.0
4    50.0
5    50.0
Name: C, dtype: float64

**"ffill" stands for forward filling. In this method we fill the NaN values in top to Bottom direction. i.e (⬇)**

**"ffill" stands for forward filling. In this method we fill the NaN values in Bottom to Top direction. i.e (⬆)**

## ----------------------------------------------------Question 27 Ends -------------------------------------------------------