# How to use 'Apply' in pandas Dataframe

In [1]:
import pandas as pd

In [2]:
#Creating an example df
df = pd.DataFrame({'A':[50,60,70],
                  'B':[10,20,30],
                  'C':[20,40,60,]
                  },index=['Row_1','Row_2','Row_3'])
df

        A   B   C
Row_1  50  10  20
Row_2  60  20  40
Row_3  70  30  60

In [3]:
#Lets define a function and add a new column which is sum of all rows 

def custom_sum(row):
    return row.sum()
df['D'] = df.apply(custom_sum,axis=1)   #-------------------->using "apply" function, "axis=1" is for column
df

        A   B   C    D
Row_1  50  10  20   80
Row_2  60  20  40  120
Row_3  70  30  60  160

In [4]:
#Similarly using loc function lets add a new row which is thwe sum of all columns 

df.loc['Row_4']=df.apply(custom_sum, axis=0)  #------------------> using "loc" and "apply" function, "axis=0" is for row
df

         A   B    C    D
Row_1   50  10   20   80
Row_2   60  20   40  120
Row_3   70  30   60  160
Row_4  180  60  120  360

## ----------------------------------------------------Question 28 Ends ---------------------------------------------------