# HOW TO FIND QUANTILES(25%,50%,75%) IN PANDAS THROUGH FUNCTION. ALSO FINDING THE SUM, FIRST,LAST,COUNT CATEGORY WISE.

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({"val":[12,11,12,13,123,145,167,89,99],
                "cat":['a','b','c','a','b','c','a','b','c']})
df

   val cat
0   12   a
1   11   b
2   12   c
3   13   a
4  123   b
5  145   c
6  167   a
7   89   b
8   99   c

In [3]:
#Defining a function to find 75%, 50% and 25% quartiles

def qtu(x):
    return x.quantile(0.75)
def qt1(x):
    return x.quantile(0.25)

In [4]:
#using groupy to find 75%, 25% quartile along with the median as median itself is 50% quartile.

df.groupby('cat').agg({'val':['median',qtu,qt1]})

       val
    median  qtu   qt1
cat
a       13   90  12.5
b       89  106  50.0
c       99  122  55.5

In [5]:
#Now let's find the sum,first, count, last and median cateogory wise.

df.groupby('cat').agg({'val':['median','sum','first','last','count']})

       val
    median  sum first last count
cat
a       13  192    12  167     3
b       89  223    11   89     3
c       99  256    12   99     3

## ----------------------------------------------------Question 29 Ends ---------------------------------------------------