# Drop Rows only if  ALL Columns OR  Row values are NaN

In [1]:
# Importing the library

import pandas as pd
import numpy as np

In [2]:
# Creating Example DataFrame

df=pd.DataFrame({"A":[np.nan,"1.0",np.nan,"4.0",np.nan,"1.0"],
                "B":[np.nan,"4.0","8.0",np.nan,"8.0","1.0"],
                "C":[np.nan,"4.0","2.0","3.0",np.nan,"5.0"]})

In [3]:
# view the Df

df

     A    B    C
0  NaN  NaN  NaN
1  1.0  4.0  4.0
2  NaN  8.0  2.0
3  4.0  NaN  3.0
4  NaN  8.0  NaN
5  1.0  1.0  5.0

In [4]:
# "dropna" drops all the NaN's

# To drop along the row we need to specify axis and a parameter "how"

# Axis=0 is for rows and since we need to drop the entire row how="all"

# Similarly if there was a column with all values as NaN select Axis=1 for columns

df.dropna(axis=0,how="all")

     A    B    C
1  1.0  4.0  4.0
2  NaN  8.0  2.0
3  4.0  NaN  3.0
4  NaN  8.0  NaN
5  1.0  1.0  5.0

### ----------------------------------------------------Question 4 Ends -------------------------------------------------------