# How do you Calculate "N" days Rolling Sum in Pandas DataFrame.

In [1]:
# Importing Library

import pandas as pd

In [2]:
# Create an example DataFrame

df=pd.DataFrame({"Date":["2020-03-01","2020-03-02","2020-03-03","2020-03-04","2020-03-05","2020-03-06","2020-03-07"],
                "PageViews":["100","120","180","200","240","160","130"],
                "Revenue":["10","15","12","20","30","22","14"]})

In [3]:
#view the df

df

         Date PageViews Revenue
0  2020-03-01       100      10
1  2020-03-02       120      15
2  2020-03-03       180      12
3  2020-03-04       200      20
4  2020-03-05       240      30
5  2020-03-06       160      22
6  2020-03-07       130      14

In [4]:
df["PageViews"].rolling(window=3,axis=0).sum()

# Similarly

0      NaN
1      NaN
2    400.0
3    500.0
4    620.0
5    600.0
6    530.0
Name: PageViews, dtype: float64

### ----------------------------------------------------Question 8 Ends -------------------------------------------------------