# How to Split Column by Delimiter in Pandas

In [1]:
# Importing Library

import pandas as pd

In [2]:
# Create an example DataFrame

df = pd.DataFrame({'Add':['San Francisco,California',
               'Salt Lake City,Utah',
                'Detroit,Michigan']})
df

                        Add
0  San Francisco,California
1       Salt Lake City,Utah
2          Detroit,Michigan

In [3]:
# Use split to get the comma seperated

df['Add'].str.split(',') 
df

# Well it didn't work

                        Add
0  San Francisco,California
1       Salt Lake City,Utah
2          Detroit,Michigan

In [4]:
# We need to pass an parameter expand=True


df['Add'].str.split(',',expand=True)

# Yup it worked !!

                0           1
0   San Francisco  California
1  Salt Lake City        Utah
2         Detroit    Michigan

### ----------------------------------------------------Question 9 Ends -------------------------------------------------------